.weather-detail-box {
    width: 100%;
    justify-content: space-between;
}

.weather-detail-title {
    align-self: center;

}

.weather-detail-box .weather-detail-info {
    font-weight: bold;
    align-self: center;
    margin-top: 15px;
}